<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syx.dao.UserDAO">

    <sql id="userField">
        a.username as "id",
        a.name as "name",
        a.password as "password"
    </sql>

    <insert id="addUser" parameterType="com.syx.model.User">
        INSERT INTO user(username,password,sex,email) VALUE (#{username},#{password},#{sex},#{email})
    </insert>
</mapper>